{% extends 'base2.html'%}

{% block content%}
<div id="content">
    <div id="bo_list" style="width:100%">
        <div id="bo_btn_top">
            <a href="/lecture" class="btn_b02 btn">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                글쓰기
            </a>
        </div>
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>날짜</th>
                        <th>Entry</th>
                        <th>Entry</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lecture_list in lecture_lists %}
                        <tr>
                            <td>{{lecture_list.pk}}</td>
                            <td><a href="{% url 'lecture_detail' pk=lecture_list.pk %}">{{lecture_list.title}}</a></td>
                            <td>{{lecture_list.author}}</td>
                            <td>{{lecture_list.created_date}}</td>
                            <td>123</td>
                            <td>Do some other</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>   
        </div>
    </div>
</div>
                
{% endblock%}
