{% extends 'base.html'%}

{%block title%} index   {% endblock%}

{%block content%} 
{% load staticfiles%}



<div class="wrapper bgded " id="index_banner" style="height: 700px">
    <div id="pageintro" class="hoc clear"> 
      <!-- ################################################################################################ -->

    </div>
  </div>
  
  <!-- <div class="wrapper row3">
    <main class="hoc container clear"> 

      <div class="sectiontitle">
        <h6 class="heading">Tellus sed interdum</h6>
        <p>Mauris nec tortor lectus vehicula leo quis elementum.</p>
      </div>
      <ul class="nospace group services">
        <li class="one_third first">
          <article class="infobox">
            <h6 class="heading"><i class="fa fa-joomla"></i> <a href="#">Elementum</a></h6>
            <p>Risus diam vel erat sed ligula nisl dictum quis tempus eu dictum sit amet tortor [&hellip;]</p>
          </article>
        </li>
        <li class="one_third">
          <article class="infobox">
            <h6 class="heading"><i class="fa fa-key"></i> <a href="#">Porttitor</a></h6>
            <p>Nulla lacinia vulputate augue pellentesque mattis nibh ut metus aenean sit amet [&hellip;]</p>
          </article>
        </li>
        <li class="one_third">
          <article class="infobox">
            <h6 class="heading"><i class="fa fa-balance-scale"></i> <a href="#">Habitasse</a></h6>
            <p>Turpis non dui molestie auctor suspendisse lorem morbi commodo vulputate lorem [&hellip;]</p>
          </article>
        </li>
        <li class="one_third first">
          <article class="infobox">
            <h6 class="heading"><i class="fa fa-mixcloud"></i> <a href="#">Sollicitudin</a></h6>
            <p>Aenean porta vestibulum blandit pede pellentesque ac ipsum vel massa imperdiet [&hellip;]</p>
          </article>
        </li>
        <li class="one_third">
          <article class="infobox">
            <h6 class="heading"><i class="fa fa-bug"></i> <a href="#">Facilisis</a></h6>
            <p>Semper donec mi odio vehicula vel euismod vel suscipit at velit suspendisse lacinia [&hellip;]</p>
          </article>
        </li>
        <li class="one_third">
          <article class="infobox">
            <h6 class="heading"><i class="fa fa-pied-piper-alt"></i> <a href="#">Adipiscing</a></h6>
            <p>In diam aenean erat orci mollis quis gravida sed mollis a quam nullam justo massa [&hellip;]</p>
          </article>
        </li>
      </ul>
    
      <div class="clear"></div>
    </main>
  </div>
  <div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/02.png');">
    <div class="hoc container clear"> 
   
      <div class="flexslider testimonials">
        <ul class="slides">
          <li>
            <article><img class="circle" src="images/demo/100x100.png" alt="">
              <blockquote>adipiscing a convallis ultricies luctus et dolor integer consectetuer lacus sit amet aliquet consequat metus eros volutpat leo id auctor elit lorem eu orci sed augue class aptent taciti sociosqu ad.</blockquote>
              <ul class="nospace starating">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
              </ul>
              <h6 class="heading">Jane Doe</h6>
            </article>
          </li>
          <li>
            <article><img class="circle" src="images/demo/100x100.png" alt="">
              <blockquote>litora torquent per conubia nostra per inceptos himenaeos proin convallis metus sit amet odio mauris molestie diam at magna donec suscipit arcu quis volutpat accumsan velit justo venenatis orci nec.</blockquote>
              <ul class="nospace starating">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star-half-o"></i></li>
                <li><i class="fa fa-star-o neutral"></i></li>
              </ul>
              <h6 class="heading">John Doe</h6>
            </article>
          </li>
          <li>
            <article><img class="circle" src="images/demo/100x100.png" alt="">
              <blockquote>imperdiet odio lorem euismod tellus proin commodo sollicitudin eros fusce non lectus aliquam erat volutpat in molestie sed consectetuer sed imperdiet facilisis urna vivamus aliquet commodo diam cras.</blockquote>
              <ul class="nospace starating">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star-o neutral"></i></li>
                <li><i class="fa fa-star-o neutral"></i></li>
                <li><i class="fa fa-star-o neutral"></i></li>
              </ul>
              <h6 class="heading">Jen Doe</h6>
            </article>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="wrapper row2">
    <section class="hoc container clear"> 
       <div class="sectiontitle">
        <h6 class="heading">Lectus molestie porttitor</h6>
        <p>Donec accumsan ligula vitae magna mauris neque phasellus.</p>
      </div>
      <ul class="nospace group elements">
        <li class="one_third first">
          <article><a href="#"><i class="fa fa-clipboard"></i></a>
            <h6 class="heading">Justo pellentesque</h6>
            <p>Quis iaculis scelerisque diam nisl pulvinar risus at fringilla sem augue in nulla [&hellip;]</p>
            <footer><a href="#">Read More &raquo;</a></footer>
          </article>
        </li>
        <li class="one_third">
          <article><a href="#"><i class="fa fa-skyatlas"></i></a>
            <h6 class="heading">Orci vitae vehicula</h6>
            <p>Morbi semper metus ac pulvinar adipiscing dui justo gravida arcu et venenatis justo [&hellip;]</p>
            <footer><a href="#">Read More &raquo;</a></footer>
          </article>
        </li>
        <li class="one_third">
          <article><a href="#"><i class="fa fa-empire"></i></a>
            <h6 class="heading">Auctor luctus diam</h6>
            <p>Lacus ut nisi maecenas ultrices neque a nisl nunc lorem diam rhoncus aliquet sit [&hellip;]</p>
            <footer><a href="#">Read More &raquo;</a></footer>
          </article>
        </li>
      </ul>
 
      <div class="clear"></div>
    </section>
  </div>

  <div class="wrapper row3">
    <section class="hoc container clear"> 
    
      <div class="sectiontitle">
        <h6 class="heading">Volutpat mollis vivamus</h6>
        <p>Pharetra libero non facilisis imperdiet mi augue feugiat.</p>
      </div>
      <ul class="nospace group">
        <li class="one_half first">
          <article class="group">
            <div class="one_half first"><a href="#"><img src="images/demo/320x240.png" alt=""></a></div>
            <div class="one_half">
              <h3 class="heading font-x1">Amet sodales tellus</h3>
              <p>Nisl sit amet mollis enim velit posuere metus nam tempus odio in erat integer ante risus tempor quis ultrices quis [&hellip;]</p>
              <footer><a href="#">Read More &raquo;</a></footer>
            </div>
          </article>
        </li>
        <li class="one_half">
          <article class="group">
            <div class="one_half first"><a href="#"><img src="images/demo/320x240.png" alt=""></a></div>
            <div class="one_half">
              <h3 class="heading font-x1">Fringilla non augue</h3>
              <p>Et turpis morbi mi neque facilisis sollicitudin faucibus ac primis in faucibus orci luctus et ultrices posuere cubilia [&hellip;]</p>
              <footer><a href="#">Read More &raquo;</a></footer>
            </div>
          </article>
        </li>
      </ul>

      <div class="clear"></div>
    </section>
  </div> -->
 
{% endblock%}