{% load static %}
<head>
    <style>
        p, a{
            color: black;
        }
    </style>
  <title>{%block title%}{%endblock%}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
 

  <!-- 합쳐지고 최소화된 최신 CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- 부가적인 테마 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <link href="{% static 'layout/styles/layout.css'%}" rel="stylesheet" type="text/css" media="all">
  <link href="{% static 'css/base.css'%}" rel="stylesheet" type="text/css" media="all">
  <style>
        p, td, a{
            color: black;
        }
    </style>
  
  </head>
  <body id="top" >
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
        <header id="header" class="hoc clear"> 
          <!-- ################################################################################################ -->
          <div id="logo" class="fl_left">
            <h1><a href="/">Like Lion</a></h1>
          </div>
          <nav id="mainav" class="fl_right">
            <ul class="clear">
              <li><a href="/">Home</a></li>
              <li class="active"><a href="#">lecture</a>
              </li>
              <li><a class="drop" href="#">Dropdown</a>
                <ul>
                  <li><a href="#">Level 2</a></li>
                  <li><a class="drop" href="#">Level 2 + Drop</a>
                    <ul>
                      <li><a href="#">Level 3</a></li>
                      <li><a href="#">Level 3</a></li>
                      <li><a href="#">Level 3</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Level 2</a></li>
                </ul>
              </li>
              <li><a href="{%url 'contact'%}">CONTACT</a></li>
              {% if user.is_active %}
                <li><a class="drop" href="#">{{user.username}}</a>
                  <ul>
                    <li><a href="#">개인정보변경</a></li>
                    <li><a href="#">마이페이지</a></li>
                    <li><a href="{% url 'logout' %}?next=/">로그아웃</a></li>
                  </ul>
                </li>
              {% else%}
                <li><a href="{% url 'login'%}"> 로그인</a></li>
              {%endif%}
            </ul>
          </nav>
          <!-- ################################################################################################ -->
        </header>
      </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row2">
        <section>
            <div class="page_title" style="background: url( {% static 'images/1.jpg' %}) no-repeat; height: 250px; background-position:center center;">
                <div class="page_title_in"> 
                </div>
            </div> 
            <div id="ctWrap" style="height:70%; width:100%;">
                <div id="content" style="width:75%">
                    {%block content%}{%endblock%}
                </div>
                <aside id="sidebar" class="panel panel-default">
                    <div class="panel-heading">
                        <h2>
                            <a href="/lecture" target="_self">
                                <b>게시판 샘플</b>
                                <sub>sample.paged.kr</sub>
                            </a>
                        </h2>
                    </div>
                    <ul class="nav nav-pills nav-stacked list-group">
                        <li class="list-group-item">
                            <a href="/lecture" target="_self" >
                                <b><i class="fa fa-angle-right"></i> 기본게시판</b>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/lecture" target="_self" >
                                <b><i class="fa fa-angle-right"></i> Q&A게시판</b>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/lecture" target="_self" >
                                <b><i class="fa fa-angle-right"></i> FAQ게시판</b>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/lecture" target="_self" >
                                <b><i class="fa fa-angle-right"></i> 웹진형게시판</b>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/lecture" target="_self" >
                                <b><i class="fa fa-angle-right"></i> 폼메일</b>
                            </a>
                        </li>
                    </ul>
                </aside>
                <aside class="clb"></aside>
            </div> 
        </section>
        
    </div>
  
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row5" style="background:white; border-top: 1px solid black;">
        <div id="copyright" class="hoc clear"> 
          <!-- ################################################################################################ -->
          <p class="fl_left">Copyright &copy; CU LION  김홍빈, 홍서영, 홍지훈 - <a href="https://github.com/khb1109/hong">LINK</a></p>
          <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
          <!-- ################################################################################################ -->
        </div>
      </div>
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
      <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
      <!-- JAVASCRIPTS -->
      <script src="{% static 'layout/scripts/jquery.min.js'%}"></script>
      <script src="{% static 'layout/scripts/jquery.backtotop.js'%}"></script>
      <script src="{% static 'layout/scripts/jquery.mobilemenu.js'%}"></script>
      <script src="{% static 'layout/scripts/jquery.flexslider-min.js'%}"></script>
      </body>
      </html>